<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Tieu de</td>
        <td>Email</td>
        <td>Noi dung</td>
        <td>CC</td>
    </tr>
{#    Cach 1#}
{#    <tr>#}
{#        <td>{{ tieude }}</td>#}
{#        <td>{{ email }}</td>#}
{#        <td>{{ noidung }}</td>#}
{#        <td>{{ cc }}</td>#}
{#    </tr>#}

{#    Cach 2#}
        <tr>
        <td>{{ email_view.title }}</td>
        <td>{{ email_view.email }}</td>
        <td>{{ email_view.content }}</td>
        <td>{{ email_view.cc }}</td>
    </tr>
</table>
</body>
</html>